---
layout: default
---
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>



<script type="text/javascript">
jQuery(function($) {
    jQuery(document).ready(function(){  
       $('.single-item').slick({
        dots: true,
        speed: 500,
        autoplay: true,
        infinite: true,
        fade: true,
        autoplaySpeed: 7300        
       });
    }); 
});
</script>

<!--<a href="/" class="active"> <img src="/assets/img/cover_gif.gif" alt="Sun Group" style="width: 1000px;"> </a> 
 about.html -->

      <div class="post">
       
        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix" style="font-size: 1.1rem;text-align: justify;">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news -%}
            <h3><a href="{{ '/news/' | relative_url }}" style="color: inherit;padding-top:5rem">News</a></h2>
            {%- include news.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Selected Publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>
              
            </div>
          {%- endif %}
        </article>

</div>
